<section>
  <div class="container mt-5">
    <div class="row" style="background-color: rgb(187, 221, 210);">

      <div class="col-md-6">
        <h2 class="text-center">ADD CATAGORY</h2>
        <form action="/admin/postaddcategory" method="post" enctype="multipart/form-data">
          <label for="">NAME</label>
          <input type="text" name="name" class="form-control">
     <div>
          <label for="">DESCRIPTION</label>
          <input type="text" name="description" class="form-control">
          </div>
          
          <label for="">IMAGE</label>
          <input type="file" name="image" class="form-control">

          <button type="submit" class="btn btn-danger mt-4">Add</button>
        </form>
      </div>

    </div>

  </div>
</section>