<body>
    <div class="page-wrapper">
        
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">BIRD<span>PRODUCTS</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="elements-list.html">Elements</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<h2 class="title text-center mb-3">BIRD CATAGORY</h2><!-- End .title -->

                	<div class="row">
                		<div class="col-6 col-md-4 col-lg-4">
                			<div class="product text-center">
                				<figure class="product-media">
                					{{!-- <span class="product-label label-sale">30% off</span> --}}
                					{{!-- <a href="product.html"> --}}
                						<img src="assets/images/bird.jpg" alt="Product image" class="product-image">
                					</a>

                					<div class="product-action">
                						<a href="#" class="btn-product btn-cart"><span>VIEW</span></a>
                						{{!-- <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a> --}}
                					</div><!-- End .product-action -->
                				</figure><!-- End .product-media -->

                				<div class="product-body">
                					<div class="product-cat">
                						
                					</div><!-- End .product-cat -->
                					<h3 class="product-title"><a href="product.html">BIRD</a></h3><!-- End .product-title -->
                					<div class="product-price">
                						{{!-- <span class="new-price">$50.00</span>
                						<span class="old-price">$84.00</span> --}}
                					</div><!-- End .product-price -->
                                    {{!-- <div class="product-size">
                                        <a href="#" class="disabled" title="Small">S</a>
                                        <a href="#" title="Medium">M</a>
                                        <a href="#" class="active" title="Large">L</a>
                                        <a href="#" title="Extra Large">XL</a>
                                    </div><!-- End .product-size --> --}}
                					<div class="ratings-container">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                						</div><!-- End .ratings -->
                						<span class="ratings-text">( 5 Reviews )</span>
                					</div><!-- End .rating-container -->

                					
                				</div><!-- End .product-body -->
                			</div><!-- End .product -->
                		</div><!-- End .col-sm-6 col-lg-4 -->

                		<div class="col-6 col-md-4 col-lg-4">
                			<div class="product text-center">
                				<figure class="product-media">
                					<a href="product.html">
                						<img src="assets/images/bird food.jpg" alt="Product image" class="product-image">
                					</a>

                					<div class="product-action">
                						<a href="#" class="btn-product btn-cart"><span>VIEW</span></a>
                						
                					</div><!-- End .product-action -->
                				</figure><!-- End .product-media -->

                				<div class="product-body">
                					<div class="product-cat">
                						
                					</div><!-- End .product-cat -->
                					<h3 class="product-title"><a href="product.html">BIRD FOOD</a></h3><!-- End .product-title -->
                					
                                  
                					<div class="ratings-container">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                						</div><!-- End .ratings -->
                						<span class="ratings-text">( 5 Reviews )</span>
                					</div><!-- End .rating-container -->
                				</div><!-- End .product-body -->
                			</div><!-- End .product -->
                		</div><!-- End .col-sm-6 col-lg-4 -->

                		<div class="col-6 col-md-4 product-1 col-lg-4">
                			<div class="product text-center">
                				<figure class="product-media">
                					
                					{{!-- <a href="product.html"> --}}
                						<img src="assets/images/bird accessories.jpg" alt="Product image" class="product-image">
                					</a>

                					<div class="product-action">
                						<a href="#" class="btn-product btn-cart"><span>VIEW</span></a>
                						
                					</div><!-- End .product-action -->
                				</figure><!-- End .product-media -->

                				<div class="product-body">
                					<div class="product-cat">
                						
                					</div><!-- End .product-cat -->
                					<h3 class="product-title"><a href="product.html">BIRD ACCESSORIES</a></h3><!-- End .product-title -->
                					
                					<div class="ratings-container">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                						</div><!-- End .ratings -->
                						<span class="ratings-text">( 5 Reviews )</span>
                					</div><!-- End .rating-container -->
                				</div><!-- End .product-body -->
                			</div><!-- End .product -->
                		</div><!-- End .col-sm-6 col-lg-4 -->
                	</div><!-- End .row -->

                	
                                   {{!-- COLLAM 2 --}}




<div class="row">
                		<div class="col-6 col-md-4 col-lg-4">
                			<div class="product text-center">
                				<figure class="product-media">
                					{{!-- <span class="product-label label-sale">30% off</span> --}}
                					{{!-- <a href="product.html"> --}}
                						<img src="assets/images/bird cage.jpg" alt="Product image" class="product-image">
                					</a>

                					<div class="product-action">
                						<a href="#" class="btn-product btn-cart"><span>VIEW</span></a>
                						{{!-- <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a> --}}
                					</div><!-- End .product-action -->
                				</figure><!-- End .product-media -->

                				<div class="product-body">
                					<div class="product-cat">
                						
                					</div><!-- End .product-cat -->
                					<h3 class="product-title"><a href="product.html">BIRD CAGE</a></h3><!-- End .product-title -->
                					<div class="product-price">
                						{{!-- <span class="new-price">$50.00</span>
                						<span class="old-price">$84.00</span> --}}
                					</div><!-- End .product-price -->
                                    {{!-- <div class="product-size">
                                        <a href="#" class="disabled" title="Small">S</a>
                                        <a href="#" title="Medium">M</a>
                                        <a href="#" class="active" title="Large">L</a>
                                        <a href="#" title="Extra Large">XL</a>
                                    </div><!-- End .product-size --> --}}
                					<div class="ratings-container">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                						</div><!-- End .ratings -->
                						<span class="ratings-text">( 5 Reviews )</span>
                					</div><!-- End .rating-container -->

                					
                				</div><!-- End .product-body -->
                			</div><!-- End .product -->
                		</div><!-- End .col-sm-6 col-lg-4 -->
