<section>
  <div class="container mt-5">
    <div class="row" style="background-color: rgb(187, 221, 210);">

      <div class="col-md-6">
        <h2 class="text-center">ADD CAT</h2>
        <form action="/admin/cataddcart" method="post" enctype="multipart/form-data">
          <label for="">BREED</label>
          <input type="text" name="breed" class="form-control">
          <label for="">AGE</label>
          <input type="number" name="age" class="form-control">
         
         <label for="">MALE</label>
         <input type="checkbox" name="gender" value="male">
         <label for="">FEMALE</label>
         <input type="checkbox" name="gender" value="female">
         <div>
         <label for="">CATAGORY</label>
          <input type="text" name="catagory" class="form-control">
          </div>
           <div>
          <label for="" >PRICE</label >
          <input type="number" name="price" class="form-control">
          </div>
          <label for="">IMAGE</label>
          <input type="file" name="image" class="form-control">

          <button type="submit" class="btn btn-danger mt-4">Add</button>
        </form>

      </div>

    </div>

  </div>
</section>