<main class="main">
	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">FISHS<span>Shop</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	
	<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
			{{#each result}}
      
                        
                                  
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{{this.image}}"
                    class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{this.breed}}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
				<P>{{this.gender}}</P>
    
				
				
                  </div>
                
                </div>
               
               
              
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">RS:{{this.price}}</h4>
                 
                </div>
               
                   <div class="d-flex flex-column mt-4">
                  <a href="/usercart"> <button class="btn btn-primary btn-sm" type="button">ADD CART</button></a>
                 <a href=""> <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                   BUY NOW
                  </button></a>
                 
                </div>
            </div>
           </div>
			{{/each}}
          
        </div>
      </div>
    </div>
    </div>
  </div>
   
</section>
</main><!-- End .main -->