
    <div class="page-wrapper">
      

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Products<span>Elements</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="elements-list.html">Elements</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<h2 class="title text-center mb-3">3 Columns Large</h2><!-- End .title -->
       	<div class="row">
                		<div class="col-6 col-md-4 col-lg-4">
                			<div class="product text-center">
                				<figure class="product-media">
                					<span class="product-label label-sale">30% off</span>
                					<a href="product.html">
                						<img src="assets/images/products/elements/product-1.jpg" alt="Product image" class="product-image">
                					</a>

                					<div class="product-action">
                						<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                						<a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                					</div><!-- End .product-action -->
                				</figure><!-- End .product-media -->

                				<div class="product-body">
                					<div class="product-cat">
                						<a href="#">Women</a>
                					</div><!-- End .product-cat -->
                					<h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3><!-- End .product-title -->
                					<div class="product-price">
                						<span class="new-price">$50.00</span>
                						<span class="old-price">$84.00</span>
                					</div><!-- End .product-price -->
                                    <div class="product-size">
                                        <a href="#" class="disabled" title="Small">S</a>
                                        <a href="#" title="Medium">M</a>
                                        <a href="#" class="active" title="Large">L</a>
                                        <a href="#" title="Extra Large">XL</a>
                                    </div><!-- End .product-size -->
                					<div class="ratings-container">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                						</div><!-- End .ratings -->
                						<span class="ratings-text">( 4 Reviews )</span>
                					</div><!-- End .rating-container -->

                					<div class="product-nav product-nav-thumbs">
                                        <a href="#" class="active">
                                            <img src="assets/images/products/elements/product-1-thumb.jpg" alt="product desc">
                                        </a>
                                        <a href="#">
                                            <img src="assets/images/products/elements/product-1-2-thumb.jpg" alt="product desc">
                                        </a>

                                        <a href="#">
                                            <img src="assets/images/products/elements/product-1-3-thumb.jpg" alt="product desc">
                                        </a>
                					</div><!-- End .product-nav -->
                				</div><!-- End .product-body -->
                			</div><!-- End .product -->
                		</div><!-- End .col-sm-6 col-lg-4 -->

                		<div class="col-6 col-md-4 col-lg-4">
                			<div class="product text-center">
                				<figure class="product-media">
                					<a href="product.html">
                						<img src="assets/images/products/elements/product-2.jpg" alt="Product image" class="product-image">
                					</a>

                					<div class="product-action">
                						<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                						<a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                					</div><!-- End .product-action -->
                				</figure><!-- End .product-media -->

                				<div class="product-body">
                					<div class="product-cat">
                						<a href="#">Men</a>
                					</div><!-- End .product-cat -->
                					<h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3><!-- End .product-title -->
                					<div class="product-price">
                						$120.00
                					</div><!-- End .product-price -->
                                    <div class="product-size">
                                        <a href="#" class="disabled" title="Small">S</a>
                                        <a href="#" title="Medium">M</a>
                                        <a href="#" class="disabled" title="Large">L</a>
                                        <a href="#" title="Extra Large">XL</a>
                                    </div><!-- End .product-size -->
                					<div class="ratings-container">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                						</div><!-- End .ratings -->
                						<span class="ratings-text">( 4 Reviews )</span>
                					</div><!-- End .rating-container -->
                				</div><!-- End .product-body -->
                			</div><!-- End .product -->
                		</div><!-- End .col-sm-6 col-lg-4 -->

                		<div class="col-6 col-md-4 product-1 col-lg-4">
                			<div class="product text-center">
                				<figure class="product-media">
                					<span class="product-label label-out">Out of Stock</span>
                					<a href="product.html">
                						<img src="assets/images/products/elements/product-4.jpg" alt="Product image" class="product-image">
                					</a>

                					<div class="product-action">
                						<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                						<a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
                					</div><!-- End .product-action -->
                				</figure><!-- End .product-media -->

                				<div class="product-body">
                					<div class="product-cat">
                						<a href="#">Accessories</a>
                					</div><!-- End .product-cat -->
                					<h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3><!-- End .product-title -->
                					<div class="product-price">
                						<span class="out-price">$32.00</span>
                					</div><!-- End .product-price -->
                					<div class="ratings-container">
                						<div class="ratings">
                							<div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                						</div><!-- End .ratings -->
                						<span class="ratings-text">( 11 Reviews )</span>
                					</div><!-- End .rating-container -->
                				</div><!-- End .product-body -->
                			</div><!-- End .product -->
                		</div><!-- End .col-sm-6 col-lg-4 -->
                	</div><!-- End .row -->

                	<hr class="mt-1 mb-5">

                	<h2 class="title text-center mb-3">4 Columns Carousel</h2><!-- End .title -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":4
                                }
                            }
                        }'>
            			<div class="product">
            				<figure class="product-media">
            					<span class="product-label label-sale">30% off</span>
            					<a href="product.html">
            						<img src="assets/images/products/elements/product-1.jpg" alt="Product image" class="product-image">
            					</a>

            					<div class="product-action action-icon-top">
            						<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            						<a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
            						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
            					</div><!-- End .product-action -->
            				</figure><!-- End .product-media -->

            				<div class="product-body product-action-inner">
        						<a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
            					<div class="product-cat">
            						<a href="#">Women</a>
            					</div><!-- End .product-cat -->
            					<h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3><!-- End .product-title -->
            					<div class="product-price">
            						<span class="new-price">$50.00</span>
            						<span class="old-price">$84.00</span>
            					</div><!-- End .product-price -->
            					<div class="ratings-container">
            						<div class="ratings ratings-primary">
            							<div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
            						</div><!-- End .ratings -->
            						<span class="ratings-text">( 4 Reviews )</span>
            					</div><!-- End .rating-container -->

            					<div class="product-nav product-nav-dots">
            						<a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
            						<a href="#" style="background: #7fc5ed;"><span class="sr-only">Color name</span></a>
            						<a href="#" style="background: #e8c97a;"><span class="sr-only">Color name</span></a>
            					</div><!-- End .product-nav -->
            				</div><!-- End .product-body -->
            			</div><!-- End .product -->

            			<div class="product">
            				<figure class="product-media">
            					<a href="product.html">
            						<img src="assets/images/products/elements/product-2.jpg" alt="Product image" class="product-image">
            					</a>

            					<div class="product-action action-icon-top">
            						<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            						<a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
            						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
            					</div><!-- End .product-action -->
            				</figure><!-- End .product-media -->

            				<div class="product-body product-action-inner">
        						<a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
            					<div class="product-cat">
            						<a href="#">Men</a>
            					</div><!-- End .product-cat -->
            					<h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3><!-- End .product-title -->
            					<div class="product-price">
            						$120.00
            					</div><!-- End .product-price -->
            					<div class="ratings-container">
            						<div class="ratings ratings-primary">
            							<div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
            						</div><!-- End .ratings -->
            						<span class="ratings-text">( 4 Reviews )</span>
            					</div><!-- End .rating-container -->
            				</div><!-- End .product-body -->
            			</div><!-- End .product -->

            			<div class="product">
            				<figure class="product-media">
            					<span class="product-label label-new">New</span>
            					<a href="product.html">
            						<img src="assets/images/products/elements/product-3.jpg" alt="Product image" class="product-image">
            						<img src="assets/images/products/elements/product-3-2.jpg" alt="Product image" class="product-image-hover">
            					</a>

            					<div class="product-action action-icon-top">
            						<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            						<a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
            						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
            					</div><!-- End .product-action -->
            				</figure><!-- End .product-media -->

            				<div class="product-body product-action-inner">
        						<a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
            					<div class="product-cat">
            						<a href="#">Women</a>
            					</div><!-- End .product-cat -->
            					<h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3><!-- End .product-title -->
            					<div class="product-price">
            						$50.00
            					</div><!-- End .product-price -->
            					<div class="ratings-container">
            						<div class="ratings">
            							<div class="ratings-val ratings-primary" style="width: 0%;"></div><!-- End .ratings-val -->
            						</div><!-- End .ratings -->
            						<span class="ratings-text">( 0 Reviews )</span>
            					</div><!-- End .rating-container -->

            					<div class="product-nav product-nav-dots">
            						<a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
            						<a href="#" style="background: #ebebeb;"><span class="sr-only">Color name</span></a>
            					</div><!-- End .product-nav -->
            				</div><!-- End .product-body -->
            			</div><!-- End .product -->

            			<div class="product">
            				<figure class="product-media">
            					<span class="product-label label-out">Out Of Stock</span>
            					<a href="product.html">
            						<img src="assets/images/products/elements/product-4.jpg" alt="Product image" class="product-image">
            					</a>

            					<div class="product-action action-icon-top">
            						<a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
            						<a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
            						<a href="#" class="btn-product btn-compare" title="Compare"><span>compare</span></a>
            					</div><!-- End .product-action -->
            				</figure><!-- End .product-media -->

            				<div class="product-body product-action-inner">
        						<a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
            					<div class="product-cat">
            						<a href="#">Accessories</a>
            					</div><!-- End .product-cat -->
            					<h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3><!-- End .product-title -->
            					<div class="product-price">
            						<span class="out-price">$32.00</span>
            					</div><!-- End .product-price -->
            					<div class="ratings-container">
            						<div class="ratings ratings-primary">
            							<div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
            						</div><!-- End .ratings -->
            						<span class="ratings-text">( 11 Reviews )</span>
            					</div><!-- End .rating-container -->
            				</div><!-- End .product-body -->
            			</div><!-- End .product -->
                	</div><!-- End .owl-carousel -->

                    <hr class="mt-3 mb-5">
                	<h2 class="title text-center mb-3">4 Columns Carousel 2</h2><!-- End .title -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "992": {
                                    "items":3
                                },
                                "1200": {
                                    "items":4
                                }
                            }
                        }'>
                        <div class="product product-2">
                            <figure class="product-media">
                                <span class="product-label label-circle label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-1.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-countdown" data-until="2019, 11, 2"></div><!-- End .product-countdown -->

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action product-action-dark">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$50.00</span>
                                    <span class="old-price">$84.00</span>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="assets/images/products/elements/product-thumb-1.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="assets/images/products/elements/product-thumb-2.jpg" alt="product desc">
                                    </a>

                                    <a href="#">
                                        <img src="assets/images/products/elements/product-thumb-3.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-2.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action product-action-dark">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Men</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $120.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 4 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-2">
                            <figure class="product-media">
                                <span class="product-label label-circle label-new">New</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-3.jpg" alt="Product image" class="product-image">
                                    <img src="assets/images/products/elements/product-3-2.jpg" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action product-action-dark">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Women</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $50.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="assets/images/products/elements/product-thumb-4.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="assets/images/products/elements/product-thumb-5.jpg" alt="product desc">
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/product-4.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action product-action-dark">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Accessories</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="out-price">$32.00</span>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 11 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel -->

                    <hr class="mt-3 mb-5">

                    <h2 class="title text-center mb-3">4 Columns Simple</h2><!-- End .title -->

                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-3">
                                <figure class="product-media">
                                    <span class="product-label">Sale</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-1.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                    <div class="product-cat">
                                        <a href="#">Women</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">$50.00</span>
                                        <span class="old-price">$84.00</span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-thumbs">
                                        <a href="#" class="active">
                                            <img src="assets/images/products/elements/product-thumb-1.jpg" alt="product desc">
                                        </a>
                                        <a href="#">
                                            <img src="assets/images/products/elements/product-thumb-2.jpg" alt="product desc">
                                        </a>

                                        <a href="#">
                                            <img src="assets/images/products/elements/product-thumb-3.jpg" alt="product desc">
                                        </a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-3">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-2.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                    <div class="product-cat">
                                        <a href="#">Men</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $120.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-3">
                                <figure class="product-media">
                                    <span class="product-label">New</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-3.jpg" alt="Product image" class="product-image">
                                        <img src="assets/images/products/elements/product-3-2.jpg" alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                    <div class="product-cat">
                                        <a href="#">Women</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $50.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->

                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 0 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-thumbs">
                                        <a href="#" class="active">
                                            <img src="assets/images/products/elements/product-thumb-4.jpg" alt="product desc">
                                        </a>
                                        <a href="#">
                                            <img src="assets/images/products/elements/product-thumb-5.jpg" alt="product desc">
                                        </a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-3">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-4.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                    <div class="product-cat">
                                        <a href="#">Accessories</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="out-price">$32.00</span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                                
                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 11 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->

                    <hr class="mt-2 mb-5">
                    <h2 class="title text-center mb-3">5 Columns Simple</h2><!-- End .title -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow product-4-carousel" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":5
                                }
                            }
                        }'>
                        <div class="product product-4 text-center">
                            <figure class="product-media">
                                <span class="product-label label-circle label-top">Top</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/5cols/product-1.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Aliquam tincidunt</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $299.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4 text-center product-disabled">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/5cols/product-2.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="out-price">$32.00</span>
                                </div><!-- End .product-price -->

                                <div class="product-label-text">Out Of Stock</div><!-- End .product-label-text -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4 text-center">
                            <figure class="product-media">
                                <span class="product-label label-circle label-sale">Sale</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/5cols/product-3.jpg" alt="Product image" class="product-image">
                                </a>
                                
                                <div class="product-countdown-container">
                                    <span class="product-contdown-title">offer ends in:</span>
                                    <div class="product-countdown countdown-compact" data-until="2019, 10, 5" data-compact="true"></div><!-- End .product-countdown -->
                                </div><!-- End .product-countdown-container -->

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="new-price">$50.00</span>
                                    <span class="old-price">$84.00</span>
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #7fc5ed;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #e8c97a;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4 text-center">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="assets/images/products/elements/5cols/product-4.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $120.00
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-4 text-center">
                            <figure class="product-media">
                                <span class="product-label label-circle label-new">New</span>
                                <a href="product.html">
                                    <img src="assets/images/products/elements/5cols/product-5.jpg" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="product.html">Vivamus vestibulum</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    $110.00
                                </div><!-- End .product-price -->
                                <div class="product-nav product-nav-dots">
                                    <a href="#" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                    <a href="#" class="active" style="background: #ebebeb;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                                
                            <div class="product-footer">
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End owl-carousel -->

                    <hr class="mt-0 mb-5" />
                </div><!-- End .container -->

                <div class="container-fluid">
                    <h2 class="title text-center mb-3">Fullwidth</h2><!-- End .title -->
                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="product product-5 text-center">
                                <figure class="product-media">
                                    <span class="product-label label-top">Top</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-1.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-countdown countdown-primary" data-until="2019, 10, 8"></div><!-- End .product-countdown -->

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">Brown cable knit cardigan</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">$50.00</span>
                                        <span class="old-price">$84.00</span>
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 col-xl-2 -->

                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="product product-5 text-center">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-2.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">Hooded parka jacket</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $120.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 0 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 col-xl-2 -->

                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="product product-5 text-center">
                                <figure class="product-media">
                                    <span class="product-label label-sale">Sale</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-3.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">Grey cable knit longline maxi  cardigan</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $110.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 2 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                    <div class="product-nav product-nav-dots">
                                        <a href="#" class="active" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #7fc5ed;"><span class="sr-only">Color name</span></a>
                                        <a href="#" style="background: #e8c97a;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 col-xl-2 -->

                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="product product-5 product-disabled text-center">
                                <figure class="product-media">
                                    <span class="product-label label-out">Out Of Stock</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-4.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">Orange snake print scarf</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <div class="out-price">$120.00</div><!-- End .out-price -->
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 col-xl-2 -->

                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="product product-5 text-center">
                                <figure class="product-media">
                                    <span class="product-label label-new">New</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-5.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">Beige knitted elastic runner shoes</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $84.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 0 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                    <div class="product-nav product-nav-dots">
                                        <a href="#" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                        <a href="#" class="active" style="background: #ebebeb;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 col-xl-2 -->

                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="product product-5 text-center">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-6.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="product-title"><a href="product.html">Grey check skinny suit jacket</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $180.00
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                                <div class="product-footer">
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 2 Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-footer -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 col-xl-2 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->

                <div class="container">
                    <hr class="mt-2 mb-5">
                    <h2 class="title text-center mb-3">4 Columns Without Space</h2><!-- End .title -->

                    <div class="row no-gutters">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-6">
                                <figure class="product-media">
                                    <span class="product-label">Sale</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-1.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Women</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Aliquam tincidunt mauris</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">$50.00</span>
                                        <span class="old-price">$84.00</span>
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                        <a href="#" class="active" style="background: #ebebeb;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-6">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-2.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Men</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Vestibulum auctor</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $120.00
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 60%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 4 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-6">
                                <figure class="product-media">
                                    <span class="product-label">New</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-3.jpg" alt="Product image" class="product-image">
                                        <img src="assets/images/products/elements/product-3-2.jpg" alt="Product image" class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Women</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Nunc dignissim risus</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        $50.00
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 0 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        <a href="#" style="background: #cc9966;"><span class="sr-only">Color name</span></a>
                                        <a href="#" class="active" style="background: #ebebeb;"><span class="sr-only">Color name</span></a>
                                    </div><!-- End .product-nav -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="product product-6">
                                <figure class="product-media">
                                    <span class="product-label">Out Of Stock</span>
                                    <a href="product.html">
                                        <img src="assets/images/products/elements/product-4.jpg" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">Accessories</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">Cras ornare tristique</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="out-price">$32.00</span>
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( 11 Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->

            <!-- Elements list -->
            <div class="container mb-5">
                <div class="row elements">
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-accordions.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>accordions</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>banners</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-blog-posts.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>blog posts</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-buttons.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>buttons</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-cta.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>call to action</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-icon-boxes.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>icon boxes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-portfolio.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>portfolio</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-product-category.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>product catigories</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-products.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>products</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-tabs.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>tabs</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-testimonials.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>testimonials</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-titles.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>titles</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-typography.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>typography</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-video-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>video</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- End Elements list -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

