<main class="main">

  <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
    style="background-image: url('/assets/images/backgroud\3.jpg">
    <div class="container">
      <div class="form-box">
        <div class="form-tab">



          <form action="/postlogin" method="post">
            <h2 style="padding-left: 100px; font-family: serif;">LOGIN</h2>
           

            <div class="form-group">
              <label for="register-password-2">EMAIL</label>
              <input type="email" class="form-control" id="register-password-2" name="email" required>
            </div><!-- End .form-group -->
            

            <div class="form-group">
              <label for="register-password-2">PASSWORD</label>
              <input type="password" class="form-control" id="register-password-2" name="password" required>
            </div><!-- End .form-group -->



            <div class="form-footer">
              <button type="submit" class="btn btn-outline-primary-2">
                <span>LOGIN</span>
                <i class="icon-long-arrow-right"></i>
              </button>
              
               <ul>
                     <li><a href="/usersignup" data-toggle="modal"><i class="icon-user" style="padding-left: 30px; padding-top: 30px;"></i>CREATE NEW ACCOUNT</a></li>
                    </ul>
                    
                </div>
                 </form>

             
            </div><!-- End .form-footer -->
         
          <div class="form-choice">
            <p class="text-center">or sign in with</p>
            <div class="row">
              <div class="col-sm-6">
                <a href="#" class="btn btn-login btn-g">
                  <i class="icon-google"></i>
                  Login With Google
                </a>
              </div><!-- End .col-6 -->
              <div class="col-sm-6">
                <a href="/usersignup" class="btn btn-login  btn-f">
                  <i class="icon-facebook-f"></i>
                  Login With Facebook
                </a>
              </div><!-- End .col-6 -->
            </div><!-- End .row -->
          </div><!-- End .form-choice -->
        </div><!-- .End .tab-pane -->
      </div><!-- End .tab-content -->
    </div><!-- End .form-tab -->
  </div><!-- End .form-box -->
<a href="" data-toggle="modal"><i class="icon-user" style="padding-left: 30px; padding-top: 30px;"></i>CREATE NEW ACCOUNT</a>
</main><!-- End .main -->